#post-1289 h1{
  font-size: 2em;
  margin: 1em 0;
}

#post-1289 h2{
  margin: 0.6em 0;
}

#post-1289 li{
  margin: 0 0 1em;
}

.form-row{
  clear: both;
  padding: 0.5em 0;
}

.form-row label{
  float: left;
  width: 8em;
}

.database-title {
  font-size: 1.1em;
}

.product-note{
  font-size: 1.2em;
  font-style: italic;
}

#subject-select{
  margin: 1em 0;
}

